*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  position: relative;
  min-height: 100%;
}




.App {
  text-align: center;
  background-color: #ececec;

  /* Footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Flex Container */
.displayImageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}



main {
  flex-grow: 1;
}





/* Color */
.headerTitle {
  padding: 2em;
  color: #0cd2e4ea;
  text-shadow: 1px 3px 1px #7c02ff97;
}

.footerTitle {
  padding: 0.8em;
  color: rgba(255, 255, 255, 0.918);
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background-color: #7c02ff97;
  margin-top: 3em;
}

.colorText {
  color: #7c02ff97;
}





/* Lists */
li {
  color: #003a3a;
}




/* Images */
.imageContent {
  width: 27em;
  margin: 1.2em;
}



/* Padding */
.mathPadding {
  margin-top: 1.5em;
}



/* Card */
.cardImage {
  width: 12em;
}

.cardPadding {
  margin-top: 1.5em;
}



